# Ignorar archivos de configuración del sistema
.DS_Store            # (MacOS)
Thumbs.db            # (Windows)

# Ignorar los archivos de compilación de Python
__pycache__/         # Los archivos .pyc y .pyo generados por Python
*.py[cod]            # Los archivos .pyc, .pyo, .pyd, etc.

# Ignorar entornos virtuales
venv/                # Si usas un entorno virtual llamado venv
env/                 # Si usas un entorno virtual llamado env

# Ignorar archivos de configuración de editores de texto
.vscode/             # Si usas Visual Studio Code
.idea/               # Si usas JetBrains (PyCharm, etc.)

# Ignorar archivos de logs
*.log

# Ignorar configuraciones de base de datos locales
*.sqlite3            # Si usas SQLite
db.sqlite3

